<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="./manifest.json">
  <link rel="apple-touch-icon" href="/icon_512x512.png">
  <meta name="theme-color" content="#ffffff" />
  <meta name="description" content="Explore Every Restaurant You Need">
  <link rel="stylesheet" href="https://use.fontawesome.com/9784a2957b.css">
  <title>Makanin</title>
</head>

<body>
  <a href="#mainContent" class="skip-link" id='skipLink' tabindex="0">Skip To Content</a>
  <header>
    <nav>
      <h1 tabindex="0">Makanin</h1>
      <div class="navMenu">
        <a href="/">Home</a>
        <a href="#/favorite">Favorite</a>
        <a href="https://www.linkedin.com/in/martin-chandra/">About Us</a>
      </div>
      <div class="dropdown-side">
        <button type="button" id="sidebar" aria-label="naviagtion-menu"><i class="fa fa-bars fa-2x"></i></button>
        <div class="dropdown-menu-side" id="menu-sidebar">
          <a href="/">Home</a>
          <a href="#/favorite">Favorite</a>
          <a href="https://www.linkedin.com/in/martin-chandra/">About Us</a>
        </div>
      </div>
    </nav>
    <div class="darkImg">
      <picture>
        <source media="(max-width: 600px)" srcset="./images/hero-image_2-small.png">
        <img class="heroImg" src="./images/hero-image_2-large.png" alt="">
      </picture>
    </div>
  </header>

  <main tabindex="0">
  </main>
</body>
</html>
